# Local dev
EXPO_PUBLIC_API_URL=http://localhost:3000/api

# Production builds (also set in eas.json production.env)
# EXPO_PUBLIC_API_URL=https://api.hydrorage.com.tr/api

EXPO_PUBLIC_EAS_PROJECT_ID=2b597587-307d-478c-9947-4de65b8aa943
EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=xxx.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=xxx.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=xxx.apps.googleusercontent.com
