DATABASE_URL=postgresql://hydrorage:hydrorage@localhost:6432/hydrorage?schema=public&pgbouncer=true
DIRECT_URL=postgresql://hydrorage:hydrorage@localhost:5434/hydrorage?schema=public
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
PORT=3000
GOOGLE_CLIENT_ID_IOS=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_ID_ANDROID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_ID_WEB=xxx.apps.googleusercontent.com
APPLE_CLIENT_ID=com.hydrorage.app
